<!-- component -->
<nav
  class="relative select-none bg-blue-900 lg:flex lg:items-stretch w-full shadow-lg"
>
  <div class="flex flex-no-shrink items-stretch h-12">
    <a
      href="#"
      class="relative py-2 px-4 text-white no-underline text-2xl font-medium tracking-wide"
      >IUB</a
    >
  </div>
  <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
    <div class="lg:flex lg:items-stretch lg:justify-end ml-[94%]">
      <button
        class="relative py-2 px-2 m-1 font-medium text-white bg-blue-500 rounded-md shadow-md"
        (click)="toggleCreateComponent()"
      >
        New post
      </button>
    </div>
  </div>
</nav>
